/*
body {
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

body {
    margin:0;
    height: 100vh;
}

/* Login Screen*/
/*
.login-form {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: white;
    padding: 15px 40px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
*/

.login-form {
    height: 300px;
    border-radius: 5px;
    background-color: white;
    padding: 40px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.login-form > h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
}

.login-form > input {
    border-width: 0 0 1px 0;
    padding: 5px;
    width: 100%;
    margin-bottom: 30px;
}

.login-form > input:focus {
    outline: 0

}

.login-form > button {
    width: 100%;
    font-size: 14px;
    color: white;
    background-color: #2196f3;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}


/* Movies List  Screen*/

table {
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}

tr {
    border-bottom: 1px;
}

tr:nth-child(even) {
    background-color: #F8F9FA;
}

td, th {
    padding: 15px 40px;
    text-align: center;
}

td > img {
    height: 150px;
    width: 120px;
}


